@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
:root{
    --bg:#330224;
    --link: #FF4317;
    --white: #fff;
    --white-light: #eee;
    --red: #D62724;
    --blue:#177B84;
    --box-shadow: 0 .5rem 1.2rem rgba(0,0,0,.1);
    --border:.1rem solid #999;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Scope One", serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header{
    font-size: 1.8rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: var(--bg);
    position: sticky;
}
.header .flex{
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;

}
.header .flex .logo{
    margin-right: auto;
}
.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--link);    
}
.header .flex .navbar a:hover{
    color: var(--white);
}
.header .flex .cart{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--link);    
}
.header .flex .cart:hover{
    color: var(--white);
}
.header .flex .cart span{
    padding: .1rem .5rem;
    border-radius: .5rem;
    background: var(--white-light);
    color: var(--bg);
    font-size: 2rem;
}
#menu-btn{
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color: var(--link);
    display: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    padding: 2rem;
}
.add-product-form{
    max-width: 50rem;
    background: var(--white-light);
    border-radius: .5rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.add-product-form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--bg);
    text-align: center;
    text-transform: uppercase;
}
.add-product-form .box{
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--bg);
    border-radius: .5rem;
    background: var(--white);
    margin: 1rem 0;
    width: 100%;
}
.btn, .option-btn, .delete-btn{
    display: block;
    width: 100%;
    text-align: center;
    background: var(--link);
    color: var(--white);
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}
.delete-btn{
    margin-top: 0;
    background: var(--red);
}
.btn:hover, .option-btn:hover, .delete-btn:hover{
    background: var(--bg);
}
.option-btn{
    background: var(--blue);
}


@media(max-width:991px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--bg);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;

    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a{
        margin: 2rem;
        display: block;
        text-align: center;
        font-size: 2.5rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}